.label {
  font-style: normal; font-weight: normal; font-size: 14px; line-height: 18px;
  display: flex; align-items: center; color: #62595D; margin-bottom: 8px;
  margin-left: 24px;
}

input {
  &:not([type="submit"]) {
    border: 1px solid #BFBBBD;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 8px;
    width: 100%;
  }
  font-size: 16px;
  line-height: 24px;
}

svg {
    margin-right: 8px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 24px;
}